body {
   background-color: rgb(138, 202, 207);
}


h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
 }

 .collapsible {
   background-color: rgb(67, 123, 127);
   color: rgb(255, 255, 255);
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
 }

 .active, .collapsible:hover {
   background-color: rgb(0, 0, 0);
 }

 .content {
   padding: 0 18px;
   background-color: rgb(162, 182, 191);
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
 }

 .collapsible:after {
   content: '\02795';
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
   color: rgb(255, 255, 255);
   float: right;
   margin-left: 5px;
 }
 
 .active:after {
   content: "\2796";
   }
